.m-20 {
  margin: 20px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

li {
  border: 2px solid pink;
  border-radius: 8px;
  padding: 20px;
  margin: 8px;
}

.formStyle {
  border: 2px solid pink;
  border-radius: 8px;
  padding: 20px;
  margin: 8px 8px 8px 40px;
}
